*{
    margin: 0;
    padding: 0;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: inline-block;
    width: 150px; 
    text-align: left;
    margin-right: 10px; 
}