*{
    margin:0;
    padding:0;
}

div{
    height:100px;
    width:100px;
    position: fixed;
    left:0;
    border-radius: 0px 5px 5px 0px;
}

div:hover{
    width:120px;
    transition: width 0.3s;
}

.div1{
    background-color: #4CAA6D;
    margin-top:50px;
}

.div2{
    background-color:#2096F2;
    margin-top:200px;
}

.div3{
    background-color: #F34637;
    margin-top:350px;
}

.div4{
    background-color: #555454;
    margin-top:500px;
}